<!DOCTYPE html>
<html lang="pt-BR"> <!-- Define o idioma da página como português do Brasil -->
<head>
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8 -->
    <meta content="width=device-width, initial-scale=1.0"> <!-- Configura a viewport para responsividade -->
    <title>Banese Card Dashboard</title> <!-- Define o título da página -->
    <link rel="stylesheet" href="static/dashboard.css"> <!-- Link para o arquivo de estilos CSS -->
</head>
<body>
    <header> <!-- Cabeçalho da página -->
        <div class="header-container"> <!-- Contêiner do cabeçalho -->
            <img src="static/img/baneseCard.png" alt="Banese Card Logo" class="logo"> <!-- Logo do Banese Card -->
            <div class="user-info"> <!-- Informações do usuário -->
                <img src="profile.jpg" alt="Profile Picture" class="profile-pic"> <!-- Foto de perfil do usuário -->
                <span class="greeting">Olá Müttër!</span> <!-- Saudação ao usuário -->
                <button class="settings-btn"> <!-- Botão de configurações -->
                    <img src="settings-icon.png" alt="Settings"> <!-- Ícone de configurações -->
                </button>
            </div>
        </div>
    </header>

    <div class="dashboard-container"> <!-- Contêiner principal do dashboard -->
        <div class="grid"> <!-- Grid para organizar os itens do dashboard -->
                <div class="grid-item" > <!-- Item do grid -->
                    <form action="{{ url_for('create') }}" method="GET">
                        <div onclick="this.closest('form').submit()">
                            <img src="static/img/Dashboard/plus.png" alt="Criar nova campanha" onclick="this.closest('form').submit()"> <!-- Ícone para criar nova campanha -->
                            <p>Criar nova campanha</p> <!-- Texto para criar nova campanha -->
                        </div>
                    </form>
                </div>
            <div class="grid-item"> <!-- Item do grid -->
                <form action="{{ url_for('campanhas') }}" method="GET"></form>
                    <div onclick="this.closest('form').submit()">
                        <img src="static/img/Dashboard/icon_lapis.png" alt="Editar campanha"> <!-- Ícone para editar campanha -->
                        <p>Editar campanha</p> <!-- Texto para editar campanha -->
                    </div>
                </form>
            </div>
            <div class="grid-item"> <!-- Item do grid -->
                <form action="{{ url_for('campanhas') }}" method="GET">
                    <div onclick="this.closest('form').submit()">
                        <img src="static/img/Dashboard/icon_lista.png" alt="Visualizar campanhas"> <!-- Ícone para visualizar campanhas -->
                        <p>Visualizar campanhas</p> <!-- Texto para visualizar campanhas -->
                    </div>
                </form>
            </div>
            <div class="grid-item"> <!-- Item do grid -->
                <img src="static/img/Dashboard/icon_cog.png" alt="Configurar parâmetros"> <!-- Ícone para configurar parâmetros -->
                <p>Configurar parâmetros</p> <!-- Texto para configurar parâmetros -->
            </div>
            <div class="grid-item"> <!-- Item do grid -->
                <img src="static/img/Dashboard/icon_pessoas.png" alt="Adicionar Participantes"> <!-- Ícone para adicionar participantes -->
                <p>Adicionar Participantes</p> <!-- Texto para adicionar participantes -->
            </div>
            <div class="grid-item"> <!-- Item do grid -->
                <img src="static/img/Dashboard/icon_grafico.png" alt="Ver relatórios"> <!-- Ícone para ver relatórios -->
                <p>Ver relatórios</p> <!-- Texto para ver relatórios -->
            </div>
            <div class="grid-item"> <!-- Item do grid -->
                <img src="static/img/Dashboard/icon_cadeado.png" alt="Gerenciar Integrações"> <!-- Ícone para gerenciar integrações -->
                <p>Gerenciar Integrações</p> <!-- Texto para gerenciar integrações -->
            </div>
            <div class="grid-item"> <!-- Item do grid -->
                <img src="static/img/Dashboard/icon_trofeu.png" alt="Definir Premiações"> <!-- Ícone para definir premiações -->
                <p>Definir Premiações</p> <!-- Texto para definir premiações -->
            </div>
        </div>
    </div>
</body>
</html>
