
<header style="background-color: #f8f8f2; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-bottom: 40px; border-radius: 10px 10px;"> <!-- Cabeçalho da página -->
    <div style="display: flex; justify-content: space-between; align-items: center;"> <!-- Contêiner do cabeçalho -->
        <img src="static/img/baneseCard.png" alt="Banese Card Logo" style="height: 50px;"> <!-- Logo do Banese Card -->
        <div style="display: flex; align-items: center;"> <!-- Informações do usuário -->
            <img src="static/img/Dashboard/logousuario.png" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;"> <!-- Foto de perfil do usuário -->
            <span class="greeting">Olá Gestor!</span> <!-- Saudação ao usuário -->
        </div>
    </div>
</header>